In [33]:
# Load the dataset directly from a CSV file
Customer_Churn <- read.csv("/content/Churn dataset.csv", stringsAsFactors = TRUE, sep = ",", na.strings = c("", "NA"))

# Summarize the dataset
summary(Customer_Churn)

# Remove columns with more than 500,000 null values
Customer_Churn <- Customer_Churn[, colSums(is.na(Customer_Churn)) <= 500000]

# Remove specific columns (term_reas_code, term_reas_desc, X)
Customer_Churn <- Customer_Churn[, !names(Customer_Churn) %in% c("term_reas_code", "term_reas_desc", "X")]

# Remove rows with any missing values
Clean_Customer_Churn <- na.omit(Customer_Churn)

# Categorize contract months variable every 12 months
Clean_Customer_Churn$Contract_Month_Cat <- cut(Clean_Customer_Churn$contract_month,
                                              breaks = c(-Inf, 12, 24, 36, 48, 60, Inf),
                                              labels = c('0 - 12 Month', '12 - 24 Month', '24 - 36 Month',
                                                         '36 - 48 Month', '48 - 60 Month', '60 - 120 Month'),
                                              include.lowest = TRUE)

Clean_Customer_Churn$Contract_Month_Cat <- as.factor(Clean_Customer_Churn$Contract_Month_Cat)

# Categorize tenure months variable every 72 months
Clean_Customer_Churn$tenure_Cat <- cut(Clean_Customer_Churn$tenure,
                                       breaks = c(-Inf, 72, 144, Inf),
                                       labels = c('0 - 72 Month', '72 - 144 Month', '>144 Month'),
                                       include.lowest = TRUE)

Clean_Customer_Churn$tenure_Cat <- as.factor(Clean_Customer_Churn$tenure_Cat)

# Remove unnecessary columns (contract_month, tenure, serv_type, bill_cycl)
Clean_Customer_Churn <- Clean_Customer_Churn[, !names(Clean_Customer_Churn) %in% c("contract_month", "tenure", "serv_type", "bill_cycl")]

# Save the cleaned data to a new CSV file
write.csv(Clean_Customer_Churn, "/content/cleandataset.csv", quote = FALSE, row.names = FALSE)

# Validation: Load the cleaned data
Clean_Customer_Churn <- read.csv("/content/cleandataset.csv", stringsAsFactors = TRUE)

     image                         newacct_no     line_stat     bill_cycl
 Min.   :201801   70068143.001.000000062:    24   AC:494338   Min.   :1
 1st Qu.:201807   70068143.003.000072630:    24   CN:  5503   1st Qu.:1
 Median :201901   70071840.001.000000066:    24   IS: 10284   Median :1
 Mean   :201858   70071840.003.000060034:    24               Mean   :1
 3rd Qu.:201907   70082185.001.000000083:    24               3rd Qu.:1
 Max.   :201912   70101548.001.000000103:    24               Max.   :1
                  (Other)               :509981
 serv_type       serv_code          tenure                  effc_strt_date
 BBS:510125   VS100DUN: 94144   Min.   :  0.0   01.08.2018 00:00:00:  4185
              VS100DUR: 70542   1st Qu.: 18.0   01.06.2019 00:00:00:  4159
              PF100DUN: 36517   Median : 45.0   01.11.2019 00:00:00:  3784
              VS100FSN: 33449   Mean   : 60.7   01.08.2019 00:00:00:  3748
              VS100FSR: 24775   3rd Qu.: 95.0   01.04.2019 00:00:00:  3740
              PF100DUR: 22138   Max.   :225.0   (Other)            :488572
              (Other) :228560                   NA's               :  1937
             effc_end_date    contract_month     ce_expiry
 31.07.2020 00:00:00:  4325   Min.   :  0.00   Min.   :-175.00
 31.05.2020 00:00:00:  3955   1st Qu.: 24.00   1st Qu.:   2.00
 31.05.2021 00:00:00:  3938   Median : 24.00   Median :   9.00
 31.10.2020 00:00:00:  3927   Mean   : 24.92   Mean   :   7.39
 31.10.2021 00:00:00:  3849   3rd Qu.: 24.00   3rd Qu.:  16.00
 (Other)            :488194   Max.   :120.00   Max.   : 115.00
 NA's               :  1937   NA's   :1937     NA's   :1937
 secured_revenue          bandwidth      term_reas_code
 Min.   : -385.2   100M        :256952   CUCO   :  1969
 1st Qu.:  158.0   100M (FTTO) : 92217   OT     :  1035
 Median :  204.0   10M         : 61711   CLB    :   978
 Mean   :  504.6   30M         : 52688   REV    :   598
 3rd Qu.:  360.0   1000M (FTTO): 26066   NET    :   378
 Max.   :61161.3   300M (FTTO) : 11160   (Other):   565
                   (Other)     :  9331   NA's   :504602
                                                            term_reas_desc
 Downsizing / Cut cost                                             :  1969
 (R) Overdue Termination: Involuntary termination by credit control:  1035
 Closing Business                                                  :   978
 Relocate to non-coverage(w/prof)                                  :   598
 Network Problem                                                   :   378
 (Other)                                                           :   565
 NA's                                                              :504602
 complaint_cnt    with_phone_service churn      current_mth_churn    X
 0      :498081   0:     3           N:441526   N:504622          Y   :     2
 1      : 10093   N:309580           Y: 68599   Y:  5503          NA's:510123
 2      :  1494   Y:200542
 3      :   288
 4      :    93
 5      :    40
 (Other):    36